version: "3.9"

services:
  fastapi:
    build:
      context: .
      dockerfile: script/Dockerfile.fastapi
    container_name: titanic_fastapi
    ports:
      - "8000:8000"

  streamlit:
    build:
      context: .
      dockerfile: streamlit/Dockerfile.streamlit
    container_name: titanic_streamlit
    ports:
      - "8501:8501"
    depends_on:
      - fastapi
